*.cmi
*.cmo
*.ppo
ged2gwb/ged2gwb
ged2gwb/ged2gwb
ged2gwb/ged2gwb.out
ged2gwb/ged2gwb2
ged2gwb/ged2gwb2.out
gwb2ged/gwb2ged
gwb2ged/gwb2ged.out
gwtp/gwtp
gwtp/gwtp.out
setup/gwsetup
setup/setup.out
src/check_base
src/check_base.out
src/compilation.ml
src/consang
src/consang.out
src/gwc
src/gwc1
src/gwc1.out
src/gwc2
src/gwc2.out
src/gwd
src/gwd.out
src/gwlib.ml
src/gwu
src/gwu.out
src/i18n_check.out
src/update_nldb
src/update_nldb.out
tools/Makefile.inc
wserver/*.cmi
wserver/*.cmo
wserver/*.ppo
